*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  border: none;
  background: none;
}

/*===== Couleur =====*/
$first-color: #F2A20C;
$white-color: #E9EAEC;
$dark-color: #41b883;//272D40
$dark-color2: #35495E;
$dark-color-lighten: #F2F5FF;
/*===== Police et typographie =====*/
$h1-font-size: 1.25rem;
$h2-font-size: 1.1rem;
$normal-font-size: .5rem;
$small-font-size: .475rem;

@mixin aspect-ratio($width, $height, $displayType: block, $important:false) {

  display: $displayType;
  position: relative;
  height: 0;

  @if $important {
    padding-top: ($height / $width) * 100% !important;
  }
  @else {
    padding-top: ($height / $width) * 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}



#app {
  color: #272D40;
  transition: 0.5s;
  
  .fade-enter , .fade-leave-to {
    opacity: 0;
    transform: translateX(2em);
  }
  .fade-enter-active , .fade-leave-active {
    transition: all .3s ease-in-out;
  }

  //navbar
  @import 'nav';

  //main
  main {
    .container {
      max-width: 1070px;
      margin: 0 auto;

      //titre page 
      &__form {
        position: relative;
        margin-bottom: 30px;
        margin-top: 15px;
        text-align: center;

        
      }
      &__title {
          text-transform: uppercase;
          color: #2B2D42;
          font-weight: 700;
        }
      //form
      @import 'form';
      //container message resultat
      &__result {
        position: relative;

        .alert {
          position: absolute;
          top: -50px;
          left: 50%;
          right: 50%;
          transform: translateX(-50%);
          width: 30%;
          border: 1px solid #41b883;
          background-color: #41b883;
          cursor: pointer;
          color: #fff;
          padding: 0.25rem 1.25rem;
          border-radius: 0.25rem;
          text-align: center;
          margin: 20px auto;
          transition: 0.5s;
        }
      }
      
      //card
      @import 'card';
      
    }
  }
}

