*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif; }

button {
  border: none;
  background: none; }

/*===== Couleur =====*/
/*===== Police et typographie =====*/
#app {
  color: #272D40;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #app .fade-enter, #app .fade-leave-to {
    opacity: 0;
    -webkit-transform: translateX(2em);
    -ms-transform: translateX(2em);
    transform: translateX(2em); }
  #app .fade-enter-active, #app .fade-leave-active {
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
  #app nav {
    padding: 0.8rem 2.4rem;
    background: rgba(255, 255, 255, 0.97);
    z-index: 2;
    -webkit-box-shadow: 0 2px 4px -3px #41b883;
    box-shadow: 0 2px 4px -3px #41b883; }
    #app nav .nav-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      max-width: 1070px;
      margin: 0 auto; }
      #app nav .nav-container #logo {
        height: 32px;
        width: 35px; }
        #app nav .nav-container #logo-vue {
          height: auto;
          width: 100%; }
      #app nav .nav-container #container-list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-size: 24px;
        width: 34%;
        -ms-flex-pack: distribute;
        justify-content: space-around; }
        #app nav .nav-container #container-list li {
          list-style: none;
          cursor: pointer; }
          #app nav .nav-container #container-list li a i {
            color: #272D40;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s; }
          #app nav .nav-container #container-list li a:hover i {
            color: #41b883; }
  #app main .container {
    max-width: 1070px;
    margin: 0 auto; }
    #app main .container__form {
      position: relative;
      margin-bottom: 30px;
      margin-top: 15px;
      text-align: center; }
    #app main .container__title {
      text-transform: uppercase;
      color: #2B2D42;
      font-weight: 700; }
    #app main .container form {
      position: relative;
      margin: 40px auto;
      text-align: center; }
      #app main .container form .form__input {
        width: 40%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        letter-spacing: 1px;
        color: #272D40;
        border: 0;
        outline: none;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
        border-bottom-width: 0px;
        padding: 4px 0;
        border-bottom: 1px solid #272D40;
        background-color: transparent; }
        #app main .container form .form__input:focus ~ label {
          top: -16px;
          font-size: 12px;
          color: #41b883;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
        #app main .container form .form__input:focus ~ .focus-border::before,
        #app main .container form .form__input:focus ~ .focus-border::after {
          width: 20%;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
      #app main .container form label {
        position: absolute;
        left: 0;
        width: 100%;
        top: 5px;
        color: #272D40;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s;
        z-index: -1;
        letter-spacing: 0.5px;
        margin-bottom: 5px;
        text-transform: uppercase;
        font-weight: 700; }
      #app main .container form .focus-border {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        z-index: 99; }
        #app main .container form .focus-border::before, #app main .container form .focus-border::after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 0;
          height: 100%;
          background-color: #41b883;
          -webkit-transition: 0.4s;
          -o-transition: 0.4s;
          transition: 0.4s; }
        #app main .container form .focus-border::before {
          left: 50%; }
        #app main .container form .focus-border::after {
          right: 50%; }
    #app main .container__result {
      position: relative; }
      #app main .container__result .alert {
        position: absolute;
        top: -50px;
        left: 50%;
        right: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 30%;
        border: 1px solid #41b883;
        background-color: #41b883;
        cursor: pointer;
        color: #fff;
        padding: 0.25rem 1.25rem;
        border-radius: 0.25rem;
        text-align: center;
        margin: 20px auto;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
    #app main .container .container__article {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-top: 80px; }
      #app main .container .container__article .card {
        position: relative;
        width: 320px;
        color: #E9EAEC;
        overflow: hidden;
        cursor: pointer;
        margin: 0px 10px; }
        #app main .container .container__article .card::before {
          content: '';
          position: absolute;
          overflow: hidden;
          width: 150%;
          height: 70%;
          top: -160%;
          bottom: -20%;
          left: -20%;
          -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
          transform: rotate(5deg);
          background-color: #41b883;
          border: 5px solid #35495E;
          z-index: -1;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #app main .container .container__article .card::after {
          content: '';
          position: absolute;
          overflow: hidden;
          width: 150%;
          height: 40%;
          bottom: 10%;
          left: -20%;
          -webkit-transform: rotate(5deg);
          -ms-transform: rotate(5deg);
          transform: rotate(5deg);
          background-color: #35495E;
          border: 5px solid #41b883;
          z-index: -1;
          -webkit-transition: .5s;
          -o-transition: .5s;
          transition: .5s; }
        #app main .container .container__article .card:hover .card__data {
          -webkit-transform: translateY(1.2rem);
          -ms-transform: translateY(1.2rem);
          transform: translateY(1.2rem);
          color: #35495E; }
          #app main .container .container__article .card:hover .card__data .card__txt {
            -webkit-transition-delay: .2s;
            -o-transition-delay: .2s;
            transition-delay: .2s;
            opacity: 1; }
        #app main .container .container__article .card:hover::before {
          top: 20%; }
        #app main .container .container__article .card:hover::after {
          bottom: -200%; }
        #app main .container .container__article .card picture {
          display: block;
          position: relative;
          height: 0;
          padding-top: 50%; }
          #app main .container .container__article .card picture img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%; }
        #app main .container .container__article .card .card__img {
          -webkit-filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
          filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4)); }
        #app main .container .container__article .card .card__data {
          -webkit-transform: translateY(15.2rem);
          -ms-transform: translateY(15.2rem);
          transform: translateY(15.2rem);
          text-align: center;
          -webkit-transition: all .5s;
          -o-transition: all .5s;
          transition: all .5s; }
          #app main .container .container__article .card .card__data .card__title {
            font-size: 1.25rem;
            color: #F2F5FF;
            margin-bottom: .5rem; }
          #app main .container .container__article .card .card__data .card__price {
            display: inline-block;
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 1.25rem; }
          #app main .container .container__article .card .card__data .card__txt {
            font-size: 1.1rem;
            margin-bottom: 1.25rem;
            opacity: 0; }
        #app main .container .container__article .card .wrapper__btns {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          position: absolute;
          bottom: 60px; }
          #app main .container .container__article .card .wrapper__btns div {
            display: block;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            padding: 1.125rem 2rem;
            border-radius: .5rem;
            font-weight: 600;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
            font-size: 2rem; }
            #app main .container .container__article .card .wrapper__btns div input {
              display: none; }
              #app main .container .container__article .card .wrapper__btns div input:checked + label svg {
                fill: #fb2626 !important; }
            #app main .container .container__article .card .wrapper__btns div label svg {
              -webkit-filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
              filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
              -webkit-transition: .5s;
              -o-transition: .5s;
              transition: .5s; }
              #app main .container .container__article .card .wrapper__btns div label svg:hover {
                -webkit-animation: scaler 0.8s infinite linear;
                animation: scaler 0.8s infinite linear; }
            #app main .container .container__article .card .wrapper__btns div label svg:hover {
              fill: rgba(251, 38, 38, 0.5) !important; }
            #app main .container .container__article .card .wrapper__btns div button, #app main .container .container__article .card .wrapper__btns div svg {
              cursor: pointer; }
